@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

@import 'style/common';
@import '~bootstrap/scss/bootstrap.scss';

body {
  font-family: 'Open Sans', sans-serif;
}

.section {
  &--full {
    min-height: 100vh;
  }

  &--spacing {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

.btn-warning {
  color: white !important;
}

.btn-lg,
.btn-group-lg > .btn {
  margin-top: 4rem;
  padding: 0.75rem 1.2rem;
  border-radius: 2rem;
  font-weight: 300;
}

@include media-breakpoint-down(xs) {
  .section {
    &--spacing {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
}
